extends ../template

block variables
    - var title = 'Контакты'

block content

    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium sapiente maiores odit quae expedita culpa, ullam nisi sed neque assumenda reiciendis, eum pariatur facere amet, in vero. Soluta reiciendis tempore voluptates cupiditate facilis incidunt, quasi est inventore, adipisci perspiciatis reprehenderit possimus, pariatur autem? Vel odio quas facere, neque voluptatibus iusto.    
    
    form.form
        label(for="email") email
        input(name="email" id="email")
        label(for="password") password
        input(name="password" id="password")
        button Отправить